
/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 520;
	font-size: 1em;
	color: #ffffff;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}




/* Navigation and Menu*/

.menu {
	position:fixed;
	top:0px;
	width:100%;
	height:auto;
	background-color:#ebe9ec;
	z-index:100;
	color: #3f3f3f;
}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.menu ul{
	padding: 0px 0px 0px 30px;
}
.menu ul li a{
	color: black;
}
.menu ul li a:hover{
	color: #DF0661;
}
.navigation li{
	float: left;
	padding:0 0 0 35px;
}

.navigation .inner_menu {
	padding:0 !important;
}
.navigation li:hover{
	cursor:pointer;
	color: #df0661;
	font-weight:bold;
}

/*
.navigation .active{
	cursor:pointer;
	color: #df0661;
	font-weight:bold;
}
*/

/* Images Cellphones */

.img_cel {
	margin-bottom:-350px;
	margin-top:25px;
}

.img_tops {
	width:52px !important;
	bottom:10px;
	position:absolute;
}
.img_tops:hover {
	background-image:url("../images/top_hover.png");
}

/* General Slides */

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
}



/* Slide 1 - O que � PoupaCerto - Pitch */

#slide1{
	background: url('../images/s1.png');
	background-position:center!important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	height:100%;
	padding:140px 0 20px 0;
	text-align:justify;

}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

/* Slide 2 - O que � PoupaCerto - Summary */

#slide2{
	background-color:#9a1050;
	padding:5px 0;
}
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;

}
#slide2 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide2 p {
	font-weight: 520;
	font-size: 1.5em;
}


/* Division 1 - Acompanhe suas metas! */

#division1{
	background-image: url('../images/Skyline.jpg');
	background-position: no-repeat center center;
	background-size: Auto 80%;
	height: 50px;
	background-color:#f68f67;
	color:#ffffff;
	padding: 65px 0 135px 0;

}
#division1 h1 {
	font-size: 2.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#3C3E40;
	font-weight: 600;
}
#division1 h2 {
	font-size: 2em;
	color: #3C3E40;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 600;
}

#division1 p {
	font-weight: 520;
	font-size: 1.5em;
}

/* Slide 3 - Como Funciona? */

#slide3{
	background: url('../images/s3.png');
	background-position:center!important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	color: #3a3d3c;
	padding: 70px 0 30px 0;
	text-align:justify;
}
#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#3a3d3c;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #3a3d3c;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}


/* Division 2 - Palavras Chave */

#division2{
	background-image:url('../images/d2.jpg');
	background-position: no-repeat center center;
	background-size: Auto 70%;
	height: 50px;
	background-color:#f68f67;
	color:#ffffff;
	padding: 70px 0 135px 0;
	text-align:justify;
}
#division2 h1 {
	font-size: 2.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#3C3E40;
	font-weight: 600;
}
#division2 h2 {
	font-size: 2em;
	color: #3C3E40;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 600;
}


/* Slide 4 - Palavras Chave */

#slide4{
	background: url('../images/s4.png');
	background-position:center!important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	text-align:justify;
	padding: 50px 0 0px 0;
}
#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#2c2d2f;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #2c2d2f;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}


/* Slide 5 - Cadastrar */

#slide5{
	background: url('../images/s5.png');
	background-position:center!important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	text-align:justify;
	padding: 50px 0 50px 0;

}
#slide5 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide5 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}


/* Slide 6 - Economizar */

#slide6{
	background: url('../images/s6.png');
	background-position:center!important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	text-align:justify;
	padding: 50px 0 50px 0;
}
#slide6 h1 {
	font-size: 3.7em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide6 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}


/* Slide 7 - Consultar */

#slide7{
	background: url('../images/s7.png');
	background-position:center!important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	text-align:justify;
	padding: 50px 0 50px 0;
}
#slide7 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide7 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

/* Slide 8 - Comprar */

#slide8{
	background: url('../images/s8.png');
	background-position:center!important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	text-align:justify;
	padding: 50px 0 50px 0;
}
#slide8 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide8 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

/* Slide 9 - Conta */

#slide9{
	background: url('../images/s9.png');
	background-position:center!important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	text-align:justify;
	padding: 50px 0 50px 0;
}
#slide9 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide9 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

/* Division 3 - Texto Feliz */

#division3{
	background-image:url('../images/d3.jpg');
	background-position: no-repeat center center;
	background-size: Auto 75%;
	height: 50px;
	background-color:#f68f67;
	color:#ffffff;
	padding: 65px 0 135px 0;
}
#division3 h1 {
	font-size: 2.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#3C3E40;
	font-weight: 600;
}
#division3 h2 {
	font-size: 2em;
	color: #3C3E40;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 600;
}


/* Slide 10 - Contato */

#slide10{
	background: url('../images/s10.jpg');
	background-position:center!important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
	padding: 50px 0 20px 0;
}
#slide10 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide10 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}


/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}


/* Begin Contact Form */

#form_contact {
       margin-top:25px;
}

#form_contact textarea {
       width:97%;
       margin: 0px;
       height: 262px;
       color:#fff !important;
	   margin-top:10px;
}

#form_contact input[type="submit"] {
       display: inline-block;
       min-height: 40px;
       padding: 0 18px;
       border: none;
       line-height: 40px;
       color: #ffffff;
       letter-spacing: normal;
       box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
       font-weight: 300;
       font-size: 16px;
       -webkit-transition: background 0.2s ease-in-out;
       transition: background 0.8s ease-in-out;
       background:#000;
	   margin-top:15px;
}

#form_contact input[type="submit"]:hover {
       background:#535353;
       transition: background 0.8s ease-out-in;
       cursor:pointer;
}

#form_contact input[type="text"] {
       width:88%;
	   color:#fff;
}

#form_contact input[type="text"], #form_contact textarea {
       height: 40px;
       max-width: 100%;
       padding: 4px 6px;
       border: 1px solid rgba(0, 0, 0, 0.1);
       background:rgba(255,255,255,0.2);
       -webkit-transition: all linear 0.2s;
       transition: all linear 0.2s;
       padding: 8px 10px;
       font-weight: 300;
       font-size:17px;
}

#form_contact textarea {
       height:180px;
	   resize:none;
}

/* End Contact Form */
